name: CI
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  codecov-yaml-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check codecov.yml
        run: curl -v -X POST --fail-with-body --data-binary @codecov.yml https://codecov.io/validate

  format-check:
    strategy:
      matrix:
        os: [ 'macos-26' ]
        xcode-version: [ '26.2' ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/cache@v5
        with:
          path: |
            **/.build
          key: format-${{ runner.os }}-${{ hashFiles('**/Package.resolved', '.github/workflows/ci.yml') }}
          restore-keys: |
            format-${{ runner.os }}-
      
      - name: Select Xcode
        run: sudo xcode-select -s '/Applications/Xcode_${{ matrix.xcode-version }}.app/Contents/Developer'

      - name: Build swift-format
        run: swift build -c release --product swift-format

      - name: Run swift-format and check
        run: |
          .build/release/swift-format -r BrewCoffee46 BrewCoffee46Tests BrewCoffee46Core BrewCoffee46WatchKitApp -i
          if [[ -n `git diff` ]]; then
            exit 1;
          fi

  build-and-test:
    strategy:
      matrix:
        os: [ 'macos-26' ]
        xcode-version: [ '26.1' ]
        ios-version: [ '26.1' ]
        ios-device-name: [ 'iPhone 17' ]
    runs-on: ${{ matrix.os }}
    env:
      LICENSE_PLIST_GITHUB_TOKEN: ${{ secrets.LICENSE_PLIST_GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/cache@v5
        with:
          path: |
            **/.build
            BrewCoffee46/Settings.bundle
          key: ci-${{ runner.os }}-${{ hashFiles('**/Package.resolved', '.github/workflows/ci.yml') }}
          restore-keys: |
            ci-${{ runner.os }}-

      - name: Select Xcode
        run: sudo xcode-select -s '/Applications/Xcode_${{ matrix.xcode-version }}.app/Contents/Developer'

      - name: Build xcodeproj
        run: swift build -c release --product xcodegen

      - name: Generate xcodeproj
        run:  .build/release/xcodegen generate

      - name: Test for core
        run: |
          set -o pipefail
          xcodebuild \
            -project BrewCoffee46.xcodeproj \
            -scheme BrewCoffee46CoreTests \
            -destination "platform=iOS Simulator,OS=${{ matrix.ios-version }},name=${{ matrix.ios-device-name }}" \
            -enableCodeCoverage YES \
            -derivedDataPath Build/ \
            test | xcbeautify
          ./.github/workflows/convert.sh BrewCoffee46Core.o brewCoffee46_core.lcov

      - name: Test for iOS
        run: |
          set -o pipefail
          xcodebuild \
            -project BrewCoffee46.xcodeproj \
            -scheme brewcoffee46 \
            -destination "platform=iOS Simulator,OS=${{ matrix.ios-version }},name=${{ matrix.ios-device-name }}" \
            -enableCodeCoverage YES \
            -derivedDataPath Build/ \
            clean build test | xcbeautify
          ./.github/workflows/convert.sh BrewCoffee46.app/BrewCoffee46.debug.dylib brewCoffee46.lcov

      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
